<div class="row">
  <div class="column">
    <div class="card">
      <img src="assets/team/Amr.jpg" style="width:100%">
      <div class="container">
        <h2>Amr M. Kayid</h2>
        <p class="title">(∀t(~S(A, t) -> I(A))) => (SO⅋IA*ʞ
          <- γq)⅁NƎ-IA</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="assets/team/mariam.jpg" style="width:100%">
      <div class="container">
        <h2>Mariam Dessouki</h2>
        <p class="title">There there </p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="assets/team/Marina.jpg" style="width:100%">
      <div class="container">
        <h2>Marina Makram</h2>
        <p class="title">AboutYOU</p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="assets/team/ReplaceItWithYourPicOrAvatar.png" style="width:100%">
      <div class="container">
        <h2>Yasmine Zakaria</h2>
        <p class="title">MET Student</p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="assets/team/yasmeen.jpg" style="width:100%">
      <div class="container">
        <h2>Yasmeen khaled</h2>
        <p class="title">Life isn't about finding yourself. Life is about creating yourself.</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="column">
    <div class="card">
      <img src="assets/team/Youhanna.jpg" style="width:100%">
      <div class="container">
        <h2>Youhanna Sabry</h2>
        <p class="title">Throw me to the wolves and i will return leading the pack</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="assets/team/shawky.jpg" style="width:100%">
      <div class="container">
        <h2>Ahmed Shawky</h2>
        <p class="title">Life is too short</p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="assets/team/YourPic" style="width:100%">
      <div class="container">
        <h2>YourName</h2>
        <p class="title">AboutYOU</p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="assets/team/YourPic" style="width:100%">
      <div class="container">
        <h2>YourName</h2>
        <p class="title">AboutYOU</p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="assets/team/YourPic" style="width:100%">
      <div class="container">
        <h2>YourName</h2>
        <p class="title">AboutYOU</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="column">
    <div class="card">
      <img src="assets/team/YourPic" style="width:100%">
      <div class="container">
        <h2>YourName</h2>
        <p class="title">AboutYOU</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="assets/team/YourPic" style="width:100%">
      <div class="container">
        <h2>YourName</h2>
        <p class="title">AboutYOU</p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="assets/team/YourPic" style="width:100%">
      <div class="container">
        <h2>YourName</h2>
        <p class="title">AboutYOU</p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="assets/team/YourPic" style="width:100%">
      <div class="container">
        <h2>YourName</h2>
        <p class="title">AboutYOU</p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="assets/team/YourPic" style="width:100%">
      <div class="container">
        <h2>YourName</h2>
        <p class="title">AboutYOU</p>
      </div>
    </div>
  </div>
</div>
