
<div class="row">
<div class="col-lg-4 col-md-4"  *ngFor="let product of ProductsList">
  <div class="card text-center">
    <div class="card-header">
      Sold by: {{ product.sellerName}}
    </div>
    <div class="card-body">
      <h3 class="card-title">{{ product.price | currency }}</h3>
      <h5 class="card-title">{{ product.name}}</h5>
      <a href="#" class="btn btn-primary " (click)="addItemToCart(product._id)" >Add to cart <i class="fas fa-cart-plus"></i></a>
    </div>
    <div class="card-footer text-muted">
      Listed on: {{ product.createdAt | date}}
    </div>
  </div>
</div>

</div>
