<h1 class="text-center">Products sold by you:</h1>
<br>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Created at</th>
            <th scope="col">Updated at</th>            
            <th scope="col">Delete</th>
            <th scope="col">Edit</th>
        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let product of itemsList;let i = index;">
            
            <th scope="row"><input class="form-control" [disabled]="!itemsState[i]" #updatedName [value]="product.name"></th>
            <td><input class="form-control" type="price" [disabled]="!itemsState[i]" #updatedPrice [value]="product.price"></td>
            <td><b>{{product.createdAt | date: 'shortDate'}}</b></td>
            <td><b>{{(product.updatedAt !== undefined)? ( product.updatedAt | date: 'short' ) : "Product was never updated"}}</b></td>
            <td>
                <button class="btn btn-danger" (click)="removeProduct(product._id)">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </td>
            <td>
                <button *ngIf="!itemsState[i]" class="btn btn-primary" (click)="editProduct(i)">
                    Edit <i class="fas fa-edit"></i>
                </button>
                <button *ngIf="itemsState[i]" type="submit" class="btn btn-success" (click)="updateProduct(product._id,i,updatedName.value,updatedPrice.value)">
                    Submit <i class="fas fa-arrow-circle-right"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>

<!-- <td contenteditable="true" (input)="onRowClick($event, product._id)">{{product.price}}</td> -->


<hr>

<div class="container">
    <button class="btn btn-block btn-success" (click)="addClicked=!addClicked;">
        <i class="fas fa-plus"></i> Create a new product
    </button>
    <form *ngIf="addClicked">
        <br>
        <div class="row">
            <div class="col-md-9">
                <div class="form-group">
                    <input class="form-control" name="productName" id="productName" placeholder="Enter Product's name" [(ngModel)]="productName">
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" name="productPrice" placeholder="Pirce" [(ngModel)]="productPrice">
                </div>
            </div>
            <div class="col-md-3">
                <span>
                    <button (click)="onSubmitNewProduct()" class="btn btn-block btn-primary" style="height:87%">Submit <i class="fas fa-arrow-circle-right"></i></button>
                </span>
            </div>
        </div>
    </form>
</div>