<div class="row">
  <div class="column">
    <div class="card">
      <img src="https://avatars0.githubusercontent.com/u/18689888?s=400&v=4" style="width:100%">
      <div class="container">
        <h2>Amr M. Kayid</h2>
        <p class="title">(∀t(~S(A, t) -> I(A))) => AI-ENG(Py->K*AI&OS)</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" style="width:100%">
      <div class="container">
        <h2>YourName</h2>
        <p class="title">Art Director</p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" style="width:100%">
      <div class="container">
        <h2>YourName</h2>
        <p class="title">Designer</p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" style="width:100%">
      <div class="container">
        <h2>YourName</h2>
        <p class="title">Designer</p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" style="width:100%">
      <div class="container">
        <h2>YourName</h2>
        <p class="title">Designer</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="column">
    <div class="card">
      <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" style="width:100%">
      <div class="container">
        <h2>YourName</h2>
        <p class="title">CEO & Founder</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" style="width:100%">
      <div class="container">
        <h2>YourName</h2>
        <p class="title">Art Director</p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" style="width:100%">
      <div class="container">
        <h2>YourName</h2>
        <p class="title">Designer</p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" style="width:100%">
      <div class="container">
        <h2>YourName</h2>
        <p class="title">Designer</p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" style="width:100%">
      <div class="container">
        <h2>YourName</h2>
        <p class="title">Designer</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="column">
    <div class="card">
      <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" style="width:100%">
      <div class="container">
        <h2>YourName</h2>
        <p class="title">CEO & Founder</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" style="width:100%">
      <div class="container">
        <h2>YourName</h2>
        <p class="title">Art Director</p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" style="width:100%">
      <div class="container">
        <h2>YourName</h2>
        <p class="title">Designer</p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" style="width:100%">
      <div class="container">
        <h2>YourName</h2>
        <p class="title">Designer</p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" style="width:100%">
      <div class="container">
        <h2>YourName</h2>
        <p class="title">Designer</p>
      </div>
    </div>
  </div>
</div>
