<nb-layout>
  <nb-layout-column>
    <nb-card style="max-width:70%; display:block; margin:auto; border-radius:25px; margin-top:">
      <nb-card-body>
        <form (submit)="onRegisterSubmit()">


          <input class="form-control" id="fullname" placeholder="FullName" [(ngModel)]="name" name="name"><br>
          <input class="form-control" id="email" placeholder="Email" [(ngModel)]="email" name="email"><br>
          <input class="form-control" id="username" placeholder="Username" [(ngModel)]="username" name="username"><br>
          <input class="form-control" type="password" id="password" placeholder="Password" [(ngModel)]="password" name="password"><br>
          <button type="submit" class="btn btn-hero-success main-btn ccenter">SignUp!</button>

        </form>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
