
<div class="row">
<div class="col-lg-4 col-md-4"  *ngFor="let product of ProductsList">
  <div class="card text-center">
    <div class="card-header">
      {{ product.name}}
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ product.price | currency }}</h5>
      <a href="#" class="btn btn-primary " ><span class="glyphicon glyphicon-shopping-cart"></span>Buy</a>
    </div>
    <div class="card-footer text-muted">
      {{ product.createdAt | date}}
    </div>
  </div>
</div>

</div>
